<br />
  <div class="mx-auto" style= "width:80%">
  <div class="row text-center">
    <div class="col-md-4">
      <div class="btn-group">
        <div class="btn btn-primary" mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate"
         (click)="changeChosenDate(view, -1)">
          Poprzedni
        </div>
        <div class="btn btn-outline-secondary" mwlCalendarToday [(viewDate)]="viewDate" (click)="changeChosenDate(view, 0)"> 
          Dzisiaj
        </div>
        <div class="btn btn-primary" mwlCalendarNextView [view]="view" [(viewDate)]="viewDate"
           (click) = "changeChosenDate(view, 1)"> 
          Następny
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'pl' }}</h3>
    </div>
    <div class="col-md-4">
      <div class="btn-group">
        <div class="btn btn-primary" (click)="setView(CalendarView.Month)" [class.active]="view === CalendarView.Month">
          Miesiąc
        </div>
        <div class="btn btn-primary" (click)="setView(CalendarView.Week)" [class.active]="view === CalendarView.Week">
          Tydzień
        </div>
        <div class="btn btn-primary" (click)="setView(CalendarView.Day)" [class.active]="view === CalendarView.Day">
          Dzień
        </div>
      </div>
    </div>
  </div>
  <br />
  <div [ngSwitch]="view">
    <mwl-calendar-month-view #calendar *ngSwitchCase="CalendarView.Month" [viewDate]="viewDate" [events]="events"
      [locale]="locale"  (dayClicked)="dayClicked($event.day.date)" [refresh]="refresh">
    </mwl-calendar-month-view>
    <mwl-calendar-week-view *ngSwitchCase="CalendarView.Week" [viewDate]="viewDate" [events]="events" [locale]="locale"
        (dayClicked)="dayClicked($event.day)"
      (dayHeaderClicked)="dayClickedWeekView($event.day)" [refresh]="refresh">
    </mwl-calendar-week-view>
    <mwl-calendar-day-view *ngSwitchCase="CalendarView.Day" [viewDate]="viewDate" [events]="events" 
      [locale]="locale" [refresh]="refresh">
    </mwl-calendar-day-view>
  </div>

  <br /><br /><br />
        
  <h3>
      Edytuj przejazdy
      <button class="btn btn-primary pull-right" (click)="addEvent()">
        Dodaj przejazd
      </button>
      <div class="clearfix"></div>
    </h3>
</div>
<schedules-table [events]="dayEvents" (deleteEventMsg)="updateEventListAfterDeletion($event)"
(saveEventMsg)="refreshCalendarView()"></schedules-table>